---
---

@import 'variables';

@import 'reset';
@import 'icons';
@import 'site-frame';
@import 'buttons';
@import 'grid';

@import 'slides';
@import 'video-cats';
@import 'home-hero';
@import 'process';
@import 'testimonial';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: $body-background;
  color: $font-color;
}
body, button, label {
  font-family: $font-family;
  font-weight: 200;
}
a {
  color: $link;
  text-decoration: none;
  outline: none;
  @include transition(all .4s);
  &:hover {
    color: darken($link, 10);
  }
}
p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

// Headers
h1, h2, h3, h4 {
  font-weight: 700;
}
h1 {
  font-size: 44px;
  line-height: 1.2em;
}
h2 {
  font-size: 30px;
  line-height: 1.4em;
  color: $main-color;
}
h3 {
  font-size: 24px;
  line-height: 1.2em;
  color: $main-color;
}
h4 {
  font-size: 18px;
  margin-bottom: 1em;
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up
h3 {
  font-size: 36px;
  line-height: 1.4em;
}


// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

// End Desktop & Up
}