.bio {
	h2 {
		line-height: 22px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	span {
		display: block;
		font-size: 16px;
		color: $black;
	}
	.image {
		border-radius: $border-radius;
		overflow: hidden;
		margin: 0 0 20px;
	}
	img {
		float: left;
	}
}
.bio-callout {
	background: $black;
	text-align: center;
	position: relative;
	h2 {
		color: $white;
		z-index: 2;
		font-size: 50px;
		line-height: 50px;
		text-shadow: 0 0 20px $black;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		margin: auto;
		height: 50px;
		text-align: center;
	}
	.column {
		padding: 0;
		margin-bottom: -5px;
		overflow: hidden;
		opacity: .7;
		@include transition(all .3s);
		&:hover {
			opacity: 1;
		}
	}
}