.button {
  font-size: 18px;
  display: inline-block;
  position: relative;
  padding-right: 30px;

  @include transition(all .3s);
  &:after {
    content: '\00bb';
    font-size: 40px;
    position: absolute;
    display: block;
    top: -14px;
    right: 5px;
  }
  &:hover {
    //move the arrow
  }
  &.center {
    display: block;
    margin: 0 auto;
  }
  &.ex-large {
    font-size: 40px;
    &:after {
      font-size: 60px;
      top: -12px;
      right: -3px;
    }
  }
}