button, button.button {
  border: none;
  background-color: $main-color;
  color: $white;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 40px;
  &:after {
    top: 0;
    right: 15px;
  }
}
.button {
  font-size: 18px;
  display: inline-block;
  position: relative;
  padding-right: 30px;

  @include transition(all .3s);
  &:after {
    content: '\f101';
    font-family: FontAwesome;
    font-size: 26px;
    position: absolute;
    display: block;
    top: -5px;
    right: 5px;
  }
  &:hover {
    //move the arrow
  }
  &.center {
    display: block;
    margin: 0 auto;
  }
  &.ex-large {
    font-size: 40px;
    &:after {
      font-size: 60px;
      top: -12px;
      right: -3px;
    }
  }
}