.home {
	padding-top: 0;
	.site-navigation {
		background: none;
	}
}
.hp-video-bg {
	background-color: $gray-darker;
	height: 400px;
	color: $white;
	text-align: center;

	display: table;
    position: relative;
    width: 100%;

	overflow: hidden;
	.video-ctr {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.inner {
		position: relative;
		z-index: 2;
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width: 100%;
		padding: 0 50px;
	}
	.scroll {
		position: absolute;
		bottom: 10px;
		left: 0; right: 0;
		color: $white;
		opacity: .6;
		z-index: 3;
		span {
			display: block;
			text-transform: uppercase;
			font-size: 12px;
			text-align: center;
		}
		i {
		font-size: 36px;

		}
		&:hover {
			opacity: 1;
		}
	}
	h1 {
	  font-size: 30px;
	  max-width: 600px;
	  font-weight: 200;
	  margin: 0 auto;
	}
	.video-bg {
		position: absolute;
		top: 0; left:0;
		width: 100vw;
		min-width: 700px;
		margin-left: -250px;
		@include transition(all .3s);
		.aspect-ratio {
			width: 100%;
			height: auto;
		}
		.video-ctr {
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up

.hp-video-bg {
	h1 {
	  font-size: 40px;
	}
	.video-bg {
		margin-left: -50px;
	}
}

// End Tablet & Up
}

@media all and (min-width: 700px) {
// Desktop & Up

.hp-video-bg {
	.video-bg {
		margin-left: 0;
	}
}

// End Desktop & Up
}