$nav-height: 40px;

$footer-height: 50px;

body {
	padding-top: $nav-height;
	position: relative;
}
.nav {
	display: block;
	text-align: center;
	a {
		color: $white;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		line-height: $nav-height;
		letter-spacing: 1px;
		display: inline-block;
		padding: 0 10px;
		&:hover {
			color: $white;
			background: lighten($main-color,10);
		}
	}
}
.site-navigation {
	@include transition(all 1s);

	position: absolute;
	top: 0; left: 0; right: 0;
	z-index: 100;
	overflow: hidden;
	.inner {
		max-width: $page-size;
		margin: 0 auto;
	}
	.logo {
		display: inline-block;
		float: left;
		margin: 13px $desktop-side-space 0;
		background-size: 130px 114px;
		width: 130px;
		height: 57px;
		background-position: 0 0;
		span {
			display: block;
			text-indent: -5000px;
		}
	}
	&.no-bg {
		.logo {
			background-position: 0 -57px;
		}
	}
	.mobile-toggle {
	    z-index: 10000;
	    position: relative;
		float: right;
		display: inline-block;
		margin: 25px 40px;
		border-radius: 50%;
		width: $nav-height - 30;
		height: $nav-height - 30;
		text-align: center;
		color: $white;
		i {
			padding: 0 .5em;
			font-size: 1.3em;
			line-height: $nav-height - 30;
		}
	}
	ul {
		clear: both;
		@include transition(all 1s);
		background: $main-color;
	}
	li {
		font-size: 1.1em;
		line-height: $nav-height;
		float: left;
		&.home-link {
			display: none;
		}
	}
	a {
		float: left;
	}
}
.footer {
	background: $gray-darker;
	color: $white;
	overflow: hidden;
	.inner {
		padding: 30px;
	}
	a {
		color: $white;
	}
	.logo {
		display: inline-block;
		float: left;

		margin: 0 $desktop-side-space 0 0;
		background-size: 130px 114px;
		width: 130px;
		height: 57px;
		background-position: 0 -57px;
		span {
			display: block;
			text-indent: -5000px;
		}
	}
	.contact {
		border-bottom: 1px solid $white;
		p {
			font-size: 24px;
			margin: 0;
		}
	}
	.footer-nav {
		padding: 30px;
		overflow: hidden;
	}
	.nav {
		line-height: 60px;
		li {
			float: left;
			margin-right: 10px;
		}
	}
}
.page-header {
	max-width: $page-size;
	margin: 0 auto;
	text-align: center;
	h1 {
		padding: 100px $desktop-side-space 0;
	}
	p {
		padding: 0 $desktop-side-space 50px;
		max-width: 600px;
		margin: 0 auto;
	}

}
.watermark {
	opacity: .7;
	background-size: 500px 500px;
	z-index: -1;
	position: fixed;
	top: 50%; left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	width: 500px;
	height: 500px;
}
.link-list {
	font-size: 18px;
	li {
		margin: 0 0 10px;
	}
}

.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}

// Responsive
@media all and (max-width: 800px) {
// Mobile Only
.site-navigation {
	ul.nav {
		display: none;
		background-color: rgba($main-color,.9);
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		padding-top: 40px;
		li, a {
			display: block;
			float: none;
		}

	}
	ul.nav.nav-open {
		display: block;
	}
	.home-link {
		display: block;
	}

}

// 
}
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

	.site-navigation {
		&.no-bg {
			ul {
				background: none;
			}
		}
		.mobile-toggle {
			display: none;
		}
		.nav {
			display: inline-block;
			clear: none;
			position: relative;

			float: right;
			line-height: $nav-height;
			height: $nav-height;
			margin-top: 30px;
			&:after {
				content: ' .';
				background: $main-color;
				width: 3000px;
				height: $nav-height;
				position: absolute;
				top: 0; bottom: 0;
				right: -3000px;
			}
			li {
				display: inline-block;
			}
			.home-link {
				display: none;
			}

		}
		
		&.no-bg {
			.nav:after {
				display: none;
			}
		}
	}

// End Desktop & Up
}