$slide-top-padding-desktop: 80px;
$slide-top-padding-mobile: 30px;
$slide-side-padding: 20px;

.divide {
	height: 1px;
	background: $gray-light;
	position: relative;
	max-width: $page-size;
	margin: 0 auto;
	&:after {
		width: 8px;
		margin-top: -4px;
		top: 50%;
		height: 8px;
		margin-left: -4px;
		left: 50%;
		border-radius: 50%;
		background: $gray-light;
		position: absolute;
		content: ' ';
		display: block;
	}
}
.text-columns-2 {
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
}
.slide {
	.inner {
		max-width: $page-size;
		overflow: hidden;
		margin: 0 auto;
		padding: $slide-top-padding-mobile $slide-side-padding;
	}
	img {
		max-width: 100%;
	}
}
.content-centered {
	text-align: center;
	h3, p {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
}
.quote {
	.copy {
		font-size: 30px;
		position: relative;
		&:before, &:after {
			display: block;
			position: absolute;
			font-size: 500px;
			color: $gray-lightest;
			font-family: Arial, 'Lucida Grande', sans-serif;
			z-index: -1;
		}
		&:before {
			content: '\201C';
			left: 40px;
			top: 150px;
		}
		&:after {
			content: '\201D';
			right: 40px;
			top: 200px;
		}
	}
	.client-name {
		color: $gray;
	}
}
.callout {
	text-align: center;
	margin: 30px 0;
	h2 {
		font-size: 40px;
		padding: 30px 0;
		color: $black;
	}
}
.bio {
	h2 {
		line-height: 22px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	img {
		width: 100px;
		float: right;
		margin: 0 0 20px 20px;
	}
	span {
		display: block;
		font-size: 16px;
		color: $black;
	}
}
.sample-list {
	div {
		margin-bottom: 10px;
	}
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up

.slide {
	.inner {
		padding: $slide-top-padding-desktop $slide-side-padding;
	}
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up


// End Desktop & Up
}