.video-cats {
	a {
		display: block;
		margin: 5px;
		border-radius: 3px;
		overflow: hidden;
	}
	em {
		font-style: normal;
	}
	&.with-desc {
		text-align: center;
		.title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
			margin: 10px 0 5px;
		}
		.desc {
			color: $font-color;
			height: 100px;
			line-height: 16px;
			font-size: 14px;
		}
		span {
			display: block;
		}
	}
	&.list-only {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		.column {
			padding: 0 5px;
		}
		em {
			display: block;
		}
		a {
			position: relative;
			background-color: $gray-darker;
			height: 120px;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			&:hover {
				background-color: $main-color;
			}
		}
		span {
			@include transition(all .5s);
			color: $white;
			position: absolute;
			display: block;
			top: 45px;
			left: 0;
			right: 0;
			padding: 0 15px;
			line-height: 1.2em;
		}
		img {
			opacity: .3;
			max-width: 2000px;
			height: 120px;
		}
	}
}