.video-cats {
	a {
		display: block;
		margin: 10px;
	}
	&.with-desc {
		text-align: center;
		.title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
			margin: 10px 0 5px;
		}
		.desc {
			color: $font-color;
			height: 100px;
			line-height: 16px;
			font-size: 14px;
		}
		span {
			display: block;
		}
	}
	&.list-only {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		a {
			position: relative;
			background: $gray-darker;
			width: 130px;
			height: 130px;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			&:hover {
				//span { @include transform(scale(1.2)); }
			}
		}
		span {
			@include transition(all .5s);
			color: $white;
			position: absolute;
			display: block;
			top: 50px;
			padding: 0 15px;
			line-height: 1.2em;
		}
		img {
			opacity: .3;
		}
	}
}