<div class="footer">
  <div class="inner contact">
  	<div class="row">
	  	<div class="column md-two-thirds">
	  		<p>HireUp Video: A Colorado-Based Video Production Company</p>
	  	</div>
	  	<div class="column md-one-third">
		  	<a href="{{ site.baseurl }}/contact" class="button ex-large">Contact HireUp</a>
		</div>
	</div>
  </div>
  <div class="inner footer-nav">
    <a class="logo" href="{{ site.baseurl }}/" style="background-image: url({{ site.baseurl }}/img/logo.png);"><span>HireUp Video Production</span></a>

    {% include nav-links.html %}

  </div>
</div>