<div class="one-product">

  <div class="slide">
    <div class="inner">
      <div class="row">
        <div class="columns md-one-half">
          <p>{{ include.intro }}</p>
        </div>
        <div class="columns md-one-half">
          {{ sample-video }}
        </div>
    </div>
  </div>
  <div class="divide">&nbsp;</div>
  <div class="slide">
    <div class="inner">
      <div class="row">
        <div class="columns md-one-half">
          <h2>Is a {{ page.title }} video what your organization needs?</h2>
          <p>Give us a call at 555.555.555 or submit the form and we’ll help you find the right solution for your business.</p>
        </div>
        <div class="columns md-one-half">
          **CONTACTFORM**
        </div>
        </div>
    </div>
  </div>

</div>