<div class="video-cats {{ include.layout }}">
  	<div class="column md-one-third sm-one-half"><a href="#">
  		<img src="{{ site.baseurl }}/img/lens-csu-sm.jpg" alt="" />
		<span class="title">Day in the Life</span>{% if include.layout != 'list-only' %}
		<span class="desc">Strengthen your employment marketing by highlighting key positions and providing a realistic picture of responsibilities and job functions.</span>{% endif %}
  	</a></div>
  	<div class="column md-one-third sm-one-half"><a href="#">
  		<img src="{{ site.baseurl }}/img/lens-csu-sm.jpg" alt="" />
		<span class="title">Training & Onboarding</span>{% if include.layout != 'list-only' %}
		<span class="desc">Get new hires up to speed quickly and make training more scalable and effective with recorded instruction, animations, and visually illustrated examples.</span>{% endif %}
  	</a></div>
  	<div class="column md-one-third sm-one-half"><a href="#">
  		<img src="{{ site.baseurl }}/img/lens-csu-sm.jpg" alt="" />
		<span class="title">Employment Marketing</span>{% if include.layout != 'list-only' %}
		<span class="desc">Put your best foot forward, build your employment brand, and encourage applications from the right candidates.</span>{% endif %}
  	</a></div>
  	<div class="column md-one-third sm-one-half"><a href="#">
  		<img src="{{ site.baseurl }}/img/lens-csu-sm.jpg" alt="" />
		<span class="title">Culture Videos</span>{% if include.layout != 'list-only' %}
		<span class="desc">Generate interest in your company or set the right expectations for new hires by highlighting unique aspects of your culture.</span>{% endif %}
  	</a></div>
  	<div class="column md-one-third sm-one-half"><a href="#">
  		<img src="{{ site.baseurl }}/img/lens-csu-sm.jpg" alt="" />
		<span class="title">Interview Video</span>{% if include.layout != 'list-only' %}
		<span class="desc">Interviews are a great way to illustrate expertise, create personal connection, or communicate important stories and values.</span>{% endif %}
  	</a></div>
  	<div class="column md-one-third sm-one-half"><a href="#">
  		<img src="{{ site.baseurl }}/img/lens-csu-sm.jpg" alt="" />
		<span class="title">Product Marketing</span>{% if include.layout != 'list-only' %}
		<span class="desc">Increase sales by demoing products, explaining key features, and showing satisfied and successful customers.</span>{% endif %}
  	</a></div>
</div>


<!-- 

	Day in the Life
Strengthen your employment marketing by highlighting key positions and providing a realistic picture of responsibilities and job functions.

Training & Onboarding
Get new hires up to speed quickly and make training more scalable and effective with recorded instruction, animations, and visually illustrated examples.

Employment Marketing
Put your best foot forward, build your employment brand, and encourage applications from the right candidates.

Culture
Generate interest in your company or set the right expectations for new hires by highlighting unique aspects of your culture.

Interview Video
Interviews are a great way to illustrate expertise, create personal connection, or communicate important stories and values.

Product Marketing
Increase sales by demoing products, explaining key features, and showing satisfied and successful customers.


-->