---
layout: default
title: Testimonials
slug: testimonials
path: ../

meta-title: Testimonials
meta-description: Testimonials page.

page-title: Hear From Some of Our Clients
page-sub-title: Our consultative approach results in successful video projects. Most of our business comes from referrals or repeat business from satisfied clients (like the ones below). We think that says a lot about the work we do.

---

<div class="slide">
	<div class="inner">
		{% include testimonial.html comp-name="Company Name" client-name="John Doe, Company Name" id="1" photo="1" year="2222" desc="This is a description and they are long. This is a quote and they are long. This is a quote and they are long. This is a quote and they are long. This is a description and they are long. This is a quote and they are long. " quote="This is a quote and they are long. This is a description and they are long. This is a quote and they are long. This is a quote and they are long." %}
	    <div class="divide">&nbsp;</div>
		{% include testimonial.html comp-name="Company Name" client-name="client"  id="1" photo="1" year="2222" desc="desc" quote="dsfd" %}
	    <div class="divide">&nbsp;</div>
	</div>
</div>