---
layout: default
title: Testimonials
slug: testimonials
path: ../

meta-title: Testimonials
meta-description: Testimonials page.

page-title: Hear From Some of Our Clients
page-sub-title: Our consultative approach results in successful video projects that consistently exceed our clients’ expectations. Most of our business comes from referrals or repeat business from satisfied clients (like the ones below). We think that says a lot about the work we do.

---

<div class="slide">
	<div class="inner">
		{% include testimonial.html comp-name="HSS Inc." client-name="Jeff Puttkammer, M.Ed., Director, Learning and Development" id="1" photo="hss" year="2011" desc="HSS, a leading provider of healthcare security services, came to us with a need to create an onboarding program. We worked together to break down the different stages of the process that each new hire would need to go through to fully understand the importance of their history, culture, and operational methods." quote="WAITING ON QUOTE" %}
		<!-- add related videos -->
	    <div class="divide">&nbsp;</div>
		{% include testimonial.html comp-name="IDT911" client-name="Sondra Boroff, Product Marketing Manager" id="1" photo="idt911" year="2014" desc="IDT911 needed product videos that would help explain the critical importance and personal impact of their services. Since they protect against things like identity theft and fraud, we had to be sensitive in our approach in highlighting client success stories." quote="WAITING ON QUOTE" %}
	    <div class="divide">&nbsp;</div>
		{% include testimonial.html comp-name="Colorado Springs Utilities" client-name="Jonathan Liepe, M.A., SPHR, Senior Human Resources Specialist" id="1" photo="csu" year="2011" desc="" quote="WAITING ON QUOTE" %}
	    <div class="divide">&nbsp;</div>
	</div>
</div>