---
layout: default
title: Samples
slug: samples
path: ../

meta-title: HireUp Video Samples
meta-description: We're proud of what we've produced for our clients. This collection is a representative sample of the types and variety of videos we can create.

page-title: HireUp Video Samples
page-sub-title: We're proud of what we've produced for our clients. This collection is a representative sample of the types and variety of videos we can create.

---
<!--
The videos we produce generally fall into one of two styles: Live action or animation (motion graphics). 

Live Action Videos
This style is most effective for things like employment marketing, culture, and interview videos when it’s important to create a personal connection. The best way to accomplish that is by showing real people, genuine interactions, and actual office environments.

Animated Videos
Motion graphics are great for providing explanations in things like product marketing, website intro, or training videos. This type of animation is also handy when you don’t have an adequate setting, or people who can be in the video.
-->
<div class="slide">
	<div class="inner">
		<div class="video-cats with-desc">
			{% include video-sample-data.html layout="short" %}
		</div>
	</div>
</div>
<div class="divide">&nbsp;</div>
<div class="slide">
	<div class="inner">
	  <div class="row">
	    <div class="column md-one-half">
	      <h2>But wait there's more!</h2>
	      <p>We're proud of what we've produced for our clients and have far too many to show here. If you'd like to see more, contact us and we will send samples relevant to the type of video you are looking to produce.</p>
	    </div>
	    <div class="column md-one-half">
	      {% include contact-form.html camefrom=page.slug %}
	    </div>
	  </div>
	</div>
</div>