---
layout: default
title: Samples
slug: samples
path: ../

meta-title: Samples
meta-description: Samples page.

page-title: HireUp Video Samples
page-sub-title: We're proud of what we've produced for our clients. This collection is a representative sample of the types and variety of videos we can create.

---

<div class="slide">
	<div class="inner">
		<div class="video-cats with-desc">
		    {% include video-sample.html client-name="client" desc="desc" id="1" photo="1" %}
		    {% include video-sample.html client-name="client" desc="desc" id="1" photo="1" %}
		    {% include video-sample.html client-name="client" desc="desc" id="1" photo="1" %}

		    {% include video-sample.html client-name="client" desc="desc" id="1" photo="1" %}
		    {% include video-sample.html client-name="client" desc="desc" id="1" photo="1" %}
		    {% include video-sample.html client-name="client" desc="desc" id="1" photo="1" %}
		</div>
	</div>
</div>